<mat-toolbar color="primary" class="mat-elevation-z12">
    <mat-toolbar-row >
      <a *ngFor="let node of nodes" mat-button >{{node}}</a>
      <a routerLink="/dashboard" mat-button >Dashboard</a>
      <a routerLink="/apps" mat-button >Apps</a>
      <a routerLink="/maps" mat-button >Maps</a>
      <div class="spacer"></div>
      <a   *ngIf="user" mat-button (click)="logout()" >Logout</a>
      <a *ngIf="user"  mat-button>{{user}}</a>
      <a *ngIf="!user" mat-button (click)="login()">Login</a> 
  </mat-toolbar-row>
</mat-toolbar>


