<mat-toolbar color="primary" class="mat-elevation-z12">
    <mat-toolbar-row >
      <!-- <a *ngFor="let node of nodes" mat-button >{{node}}</a>
      <a routerLink="/dashboard" mat-button >Dashboard</a>
      <a routerLink="/tasks" mat-button >Dracula</a> -->
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item routerLink="/maps">Plants</button>
        <a mat-menu-item href="https://liutaichen.github.io/mapping/"  target="_blank">Outstanding Plants</a>
        <button mat-menu-item routerLink="/maps/history">Location History</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="appMenu">Tools</button>
      <div class="spacer"></div>
      <a   *ngIf="user" mat-button (click)="logout()" >Logout</a>
      <a *ngIf="user"  mat-button>{{user}}</a>
      <a *ngIf="!user" mat-button (click)="login()">Login</a> 
  </mat-toolbar-row>
</mat-toolbar>


