<mat-card  *ngIf="app">
  <mat-card-header>
      <mat-card-title>{{app.name}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src={{app.imageUrl}} alt="Thumbnail of {{app.name}}">
  <mat-card-content>
      <p>
        {{app.desciption}}
      </p>
      <div >
          <label>name:
              <h2>{{ app.name | uppercase }}</h2>
            <input [(ngModel)]="app.name" placeholder="name">
          </label>
      </div>
      <button class="delete" title="delete app" (click)="delete(app)" mat-button>delete</button>
  </mat-card-content>
</mat-card>
<button (click)="goBack()" mat-button>go back</button>
<button (click)="save()" mat-button>save</button>
