<mat-grid-list cols="3" rowHeight="2:1" gutterSize='2'>(
    <mat-grid-tile *ngFor="let app of apps">
      <mat-card >
        <mat-card-header>
            <mat-card-title>{{app.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{app.imageUrl}} alt="Thumbnail of {{app.name}}">
        <mat-card-content>
            <p>
              {{app.desciption}}
            </p>
            <a routerLink="/app/{{app.id}}">
              <span class="badge">{{app.id}}</span> {{app.name}}
            </a>
        </mat-card-content>
      </mat-card>
  </mat-grid-tile>
</mat-grid-list>

