<app-app-card [app]="selectedApp"></app-app-card>
<mat-grid-list cols="3" rowHeight="2:1" gutterSize='2'>
    <mat-grid-tile *ngFor="let app of apps" (click)="onSelect(app)" [class.selected]="app === selectedApp">
      <mat-card >
        <mat-card-header>
            <mat-card-title>{{app.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{app.imageUrl}} alt="Thumbnail of {{app.name}}">
        <mat-card-content>
            <p>
              {{app.desciption}}
            </p>
        </mat-card-content>
      </mat-card>
  </mat-grid-tile>
</mat-grid-list>

