<div class="container">
  <mat-toolbar>Find a Vehicle</mat-toolbar>
  <div class="form-container">

  <mat-form-field>
    <input matInput type="text"  placeholder="Rego" [formControl]="control" [matAutocomplete]="auto">
  </mat-form-field>
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayVehicle" >
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option.fleetNo }}
      </mat-option>
    </mat-autocomplete>

  <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div class="time-container">
      <mat-form-field   class="time">
          <input matInput placeholder="Hours" value="" maxlength="2" [(ngModel)]="hours"/>
      </mat-form-field>
      <div class="colon"><span> : </span></div>
      <mat-form-field class="time" >
          <input matInput placeholder="Minutes" value="" maxlength="2" [(ngModel)]="minutes" />
      </mat-form-field>
  </div>
  <div><button mat-button (click)="onClear()">Clear</button>
    <button mat-raised-button color="primary" (click)="onGo()" >Go!</button></div>
  </div>
</div>