<mat-toolbar>Find a Vehicle</mat-toolbar>
<div class="form-container">
  
  <mat-form-field>
    <input matInput placeholder="Rego">
  </mat-form-field>

  <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div class="time-container">
      <mat-form-field   class="time">
          <input matInput placeholder="Hours" value="" maxlength="2"/>
      </mat-form-field>
      <div class="colon"><span> : </span></div>
      <mat-form-field class="time" >
          <input matInput placeholder="Minutes" value="" maxlength="2" />
      </mat-form-field>
  </div>
  <div><button mat-button>Clear</button>
    <button mat-raised-button color="primary">Go!</button></div>
</div>